.headline {
  text-align:center;
  margin-bottom: 10px;
}

.wrapper { 
  border : 0px solid #000; 
  overflow:hidden;
}

.wrapper div {
   min-height: 200px;
   padding: 10px;
}

.scaleimg {
  max-width: 100%;
}

.testimonials {
  margin-top: 15px;
  text-align: center;
}

.findings-content {
  text-align: center;
}

.findingsimg {
  max-width: 60%;
}

nav a {
  background: #00ADEF;
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin-right: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

#two { 
  background-color: white;
  overflow:hidden;
  margin:10px;
  min-width: 120px;
  min-height:170px;
  text-align:center;
}

div#two ul {
  text-align: left;
}

div#two li {
  font-size: 20px;
}

#subtitle {
  font-size: 16px;
}

.button {
  display: none;
}

.modal-content {
  display: none;
  background-color:#f4f4f4;
  margin: 20% auto;
  width:70%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
  animation-name:modalopen;
  animation-duration:1s;
}

.modal-header h2, .modal-footer h3  {
  display: none;
  margin:0;
}
.modal-header{
  display: none;
  background:coral;
  padding:15px;
  color:#fff;
}

.modal-body{
  display: none;
  padding:10px 20px;
}

.modal-footer{
  display: none;
  background:coral;
  padding:10px;
  color:#fff;
  text-align: center;
}

.closeBtn{
  display: none;
  color:#ccc;
  float: right;
  font-size:30px;
  color:#fff;
}


@media screen and (max-width: 500px) {
   #one { 
    float: none;
    margin-right:0px;
    max-width: 100%;
    border:0;
    border-bottom:0px solid #000;    
    object-fit: scale-down;
  }

  h2 {
    font-size: 20px;
  }

  body {
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media screen and (max-width: 800px) {
   #one { 
    float: none;
    margin-right:0px;
    max-width: 100%;
    border:0;
    border-bottom:0px solid #000;    
    object-fit: scale-down;
  }

  h2 {
    font-size: 20px;
  }

  body {
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media screen and (min-width: 1020px) {
  #one {
    background-color: white;
    float:left; 
    margin-right:20px;
    height:auto;
    border-bottom:0px solid #000;
    text-align: left;
  }

  h2 {
    font-size: 20px;
  }

  body {
    margin-left: 0%;
    margin-right: 0%;
  }
}

@media screen and (min-width: 1200px) {
  body {
    margin-left: 15%;
    margin-right: 15%;
  }

  .button {
    margin: auto;
    margin-top: 10px;
    display: block;
    background:#2eb2ff;
    padding:1em 2em;
    color:#fff;
    border:0;
  }

  .button:hover {
  background:#333;
  }

  .modal{
    display:none;
    position: fixed;
    z-index:1;
    left: 0;
    top:0;
    height: 100%;
    width:100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
  }

  .modal-content {
    display: block;
    background-color:#f4f4f4;
    margin: 20% auto;
    width:70%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
    animation-name:modalopen;
    animation-duration:1s;
  }

  .modal-header h2, .modal-footer h3  {
    display: block;
    margin:0;
  }
  .modal-header{
    display: block;
    background:#2eb2ff;
    padding:15px;
    color:#fff;
    text-align: center;
  }

  .modal-body{
    display: block;
    padding:10px 20px;
  }

  .modal-footer{
    display: block;
    background:#2eb2ff;
    padding:10px;
    color:#fff;
    text-align: center;
  }

  .closeBtn{
    display: block;
    color:#ccc;
    float: right;
    font-size:30px;
    color:#fff;
  }

  .closeBtn:hover,.closeBtn:focus{
    display: block;
    color:#000;
    text-decoration: none;
    cursor:pointer;
  }

  @keyframes modalopen{
    from{ opacity: 0}
    to {opacity: 1}
  }
}

/* Following animation code for modal lightbox learned from Traversy Media youtube channel @ https://www.youtube.com/watch?v=6ophW7Ask_0&index=1&list=PLZ2kNeOpJXx8w4pyrIsTashHrBtDRo2am&t=495s
*/ 

.mysales {
  margin-top: 15px;
  text-align: center;
  color: white;
  background: white;
  margin-left: 2%;
  margin-right: 2%;
}

.headshot {
  margin-top: 15px;
  text-align: center;
  color: white;
  background: white;
  margin-left: 2%;
  margin-right: 2%;  
}