.headline {
  text-align:center;
}

.wrapper { 
  border : 2px solid #000; 
  overflow:hidden;
}

.wrapper div {
   min-height: 200px;
   padding: 10px;
}

.scaleimg {
  max-width: 100%;
}

.testimonials {
  margin-top: 15px;
  text-align: center;
}

#one {
  background-color: gray;
  float:left; 
  margin-right:20px;
  height:auto;
  border-bottom:2px solid #000;
  text-align: left;
}
#two { 
  background-color: white;
  overflow:hidden;
  margin:10px;
  min-width: 120px;
  min-height:170px;
  text-align:center;
}

div#two ul {
  text-align: left;
}

div#two li {
  font-size: 20px;
}

#subtitle {
  font-size: 16px;
}

body {
  margin-left: 15%;
  margin-right: 15%;
}

@media screen and (max-width: 500px) {
   #one { 
    float: none;
    margin-right:0px;
    max-width: 100%;
    border:0;
    border-bottom:2px solid #000;    
    object-fit: scale-down;
  }

  h2 {
    font-size: 12px;
  }

  body {
    margin-left: 5%;
    margin-right: 5%;
  }

}