.headline {
  text-align:center;
}

.wrapper { 
  border : 2px solid #000; 
  overflow:hidden;
}

.wrapper div {
   min-height: 200px;
   padding: 10px;
}

#one {
  background-color: gray;
  float:left; 
  margin-right:20px;
  height:auto;
  max-width:100%;
  border-right:2px solid #000;
  text-align: left;
}
#two { 
  background-color: white;
  overflow:hidden;
  margin:10px;
  border:2px dashed #ccc;
  min-width: 120px;
  min-height:170px;
  text-align:center;
}

@media screen and (max-width: 760px) {
   #one { 
    float: none;
    margin-right:10px;
    border:0;
    height:auto;
    max-width:100%;
    border-bottom:2px solid #000;   
    text-align: left; 
  }
}